fastapi==0.128.8
uvicorn==0.39.0
scikit-learn==1.6.1
xgboost==2.1.4
torch==2.8.0
mlflow==3.1.4
pandas==2.3.3
numpy==2.0.2
pydantic==2.12.5
httpx==0.28.1
joblib==1.5.3
pyyaml==6.0.3
types-PyYAML==6.0.12
optuna==4.2.1
pytest==8.4.2
evidently==0.4.33
psycopg2-binary==2.9.9
prefect==3.1.7
prometheus-fastapi-instrumentator==7.0.0
